.Menu {
  width: 700px;
  height: 100%;
  /* border: 1px solid red; */
  position: absolute;
  left: 5%;

  display: flex;
}

.Menu > h2,
.Menu > a {
  display: block;
  position: relative;
  width: fit-content;
  border: 0px;
  text-decoration: none;
}

.Menu > h2 {
  color: #1001f9;
  width: fit-content;

  font-size: 32px;
  margin-top: 15px;
}

.Menu > a:nth-child(2) {
  margin-left: 100px;
}

.Menu > a:nth-child(3) {
  margin-left: 30px;
}

.Menu > a:nth-child(2),
.Menu > a:nth-child(3) {
  transition: 0.5s;

  margin-top: 0px;
  height: 96%;

  font-size: 18px;
  font-weight: 100;
  line-height: 70px;
  cursor: pointer;
}

.Menu > a:nth-child(2):hover,
.Menu > a:nth-child(3):hover {
  color: #0b00f9;
  border-bottom: 10px solid #0b00f9;
}

.Menu > .Selected {
  color: #0b00f9;
  border-bottom: 10px solid #0b00f9;
}
